node_modules
testCoverage
/testCoverage/
/proxy/report-*.csv
isolate-*-v8.log
.idea
*.egg-info
build/
*.pyc
npm-debug.log
venv
token.pickle
docs
/.log/
/.npmrc
*~undo-tree~
.env*
/ai/coverage/
.DS_Store
nohup.out
